.headlineH1 {
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.headlineH2 {
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.headlineH3 {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.enterArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noteInputCss {
    margin-bottom: 10px;
}

.saveBtn {
    margin-left: 10px;
    margin-bottom: 30px;
    width: 150px;
    height: auto;
}

.notes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.archivContentCss {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.trashContentCss {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.noteRegular {
    border-radius: 10px;
    background-color: rgb(194, 100, 194);
    width: 220px;
    height: 220px;
    padding: 10px;
    gap: 10px;
}

.noteSaveTitle,
.noteArchiveTitle,
.noteTrashTitle {
    display: flex;
    justify-content: center;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 26px;
    font-weight: bold;
}

.noteSave,
.noteArchive,
.noteTrash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 18px;
    width: 100px;
    height: 150px;
}

.noteSaveButton {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.noteArchivButton {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.noteTrashButton {
    display: flex;
    justify-content: space-between;
    position: relative;
}